<form [formGroup]="userForm">
  <h1>{{username}}</h1>
  <input type="text" formControlName="username">
  <span *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched">username is required</span>
  <span *ngIf="userForm.get('username')?.hasError('pattern') && userForm.get('username')?.touched">username should be only characters</span>
  <br><br>


  <input type="email" formControlName="email">
  <span *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">Email field is Required</span>
  <span *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched">Please enter valid email</span>
  <br><br>
  <input type="password" formControlName="password">
  <span *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched">Password field is Required</span>
  <span *ngIf="userForm.get('password')?.hasError('minlength') && userForm.get('password')?.touched">password length should be minimum 5  length</span>

  <br><br>

  <button [disabled]="userForm.invalid" (click)="submitFrom()">Submit</button>
</form>
